body {
    margin: 0;
    padding: 0;
    font-family: Arial,;
}

.oo {
    padding-top: 0;
    margin: 0;
}

.mainpic {
    width: 100%;
    display: block;
}


.main {
    background-color: black;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

.sheikh {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
    
    
}

.sheikhs {
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    margin-bottom: 5%;
    margin: 4%;

}

.sheikhs:hover {
    transform: scale(1.1);
}

.sheikhpic {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.sub {
    font-family: Arial, sans-serif;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}
.sub2 {
    font-family: Arial, sans-serif;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
}

.txt {
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.dwn {
    position: absolute;
    bottom: 20%;
    left: 4%;
    background-color: rgb(138, 119, 13);
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 18px;
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sheikhs:hover .dwn {
    opacity: 1;
    transform: translateY(-10px);
}

.dwn:hover {
    background-color: rgb(104, 92, 24);
}

.dwn:active {
    background-color: rgb(138, 119, 13);
}

.name{
    position: absolute;
    bottom: 2%;
    left: 4%;
    opacity: 0;
    font-family: Arial ;
    font-weight: bold;
    transition: opacity 0.4s ease, transform 0.4s ease;
    background-color: #0705058a;
    border-radius: 15px;
    padding: 5px;
    color: #fff;

}

.sheikhs:hover .name{
    opacity: 10;
    transform: translateY(-10px);
}

@media (max-width: 768px) {
    .mainpic {
        content: url('pictures/quran\ Downloader\ 2.png'); 
    }

    .sheikh{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 20px;
        margin-right: 20px;

    }

    .sub{
        font-size: 5vw;
    }

    .sub2{
        font-size: 3vw;
    }
}